<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="">
                <img src="assets/headShot.jpg"  
                width="50" height="50" 
                class="d-inline-block align-top" alt="">
                Chris K
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" 
            (click)="navbarCollapsed = !navbarCollapsed" aria-controls="navbarNavDropdown" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngbCollapse]="navbarCollapsed">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="career" routerLinkActive="active">Career</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="education" routerLinkActive="active">Education</a>
                </li>
            </ul>
        </div>
    </div>
</nav>