<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2>{{company.name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h4><em>{{company.position}}</em></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h5>{{company.startDate}} - {{company.endDate}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h6>{{company.summary}}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul>
                <app-bullet-point *ngFor="let bullet of company.bulletPoints;" 
                    [bullet]="bullet"
                ></app-bullet-point>
            </ul>
        </div>
    </div>
</div>